<%- include('./partials/header') %>

 <section>
<!-- Carousel -->
<div id="demo" class="carousel slide fade-hidden" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="https://i.ibb.co/DgsdmhT/woman-attending-remote-video-call-lesson-laptop-using-videoconference-talk-teacher-online-school-cla.jpg" alt="woman-attending-remote-video-call-lesson-laptop-using-videoconference-talk-teacher-online-school-cla" class="d-block" style="width:100%;">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3">
            <h1 style="font-family: fantasy;" class="display-1 text-white mb-md-4 animated zoomIn"><span style="color: #2CEDED;">EXPLOREZ</span> le savoir à travers les frontières de l'écran </h1>
            <a href="/contact" class="btn py-md-3 px-md-5 animated slideInRight" style="background-color: #2CEDED; font-size: medium; color: #023434;">Contactez-Nous</a>
        </div>
    </div>
      </div>


    <div class="carousel-item">
      <img  src="https://i.ibb.co/px07ppw/black-student-drinking-coffee-typing-social-media-article-browsing-lecture-communication-webinar-lap.jpg" alt="black-student-drinking-coffee-typing-social-media-article-browsing-lecture-communication-webinar-lap"  class="d-block" style="width:100%">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3">
            <h1 style="font-family: fantasy;" class="display-1 text-white mb-md-4 animated zoomIn"><span style="color: #2CEDED;">EXPLOREZ</span> le savoir à travers les frontières de l'écran </h1>
            <a href="/contact" class="btn py-md-3 px-md-5 animated slideInRight" style="background-color: #2CEDED;">Contactez-Nous</a>
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <img  src="https://i.ibb.co/x1KBv6h/retired-manager-sitting-desk-front-camera-smiling-after-typing-laptop-working-from-home-while-senior.jpg" alt="retired-manager-sitting-desk-front-camera-smiling-after-typing-laptop-working-from-home-while-senior"  class="d-block" style="width:100%">
      <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
        <div class="p-3">
            <h1 style="font-family: fantasy;" class="display-1 text-white mb-md-4 animated zoomIn"><span style="color: #2CEDED;">EXPLOREZ</span> le savoir à travers les frontières de l'écran </h1>
            <a href="/contact" class="btn py-md-3 px-md-5 animated slideInRight" style="background-color: #2CEDED;">Contactez-Nous</a>
        </div>
    </div>  
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</section> 
<br><br>
<!-- cards-->
<div class="mx-5 fade-hidden">
<div class="row d-flex"  >
  <div class="col-sm col-md-3 mb-1 ">
    <div class="card shadow-5-strong  hover-card " >
      <div class="card-body">
        <div class="d-flex justify-content-between p-md-1">
          <div class="d-flex flex-row">
            <div class="align-self-center">
              <img src="https://i.ibb.co/BNhGPQv/online-course.png" alt="online-course" style="width: 70px;height: 60px;margin-right: 20px" ></img>
            </div>
            <div>
              <h4>10K</h4>
              <p class="mb-0">Cours en ligne</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm col-md-3 mb-1">
    <div class="card shadow-5-strong hover-card">
      <div class="card-body">
        <div class="d-flex justify-content-between p-md-1">
          <div class="d-flex flex-row">
            <div class="align-self-center">
              <img src="https://i.ibb.co/JCB6sTd/libre-1.png" alt="libre-1" style="width: 70px;height: 60px; margin-right: 20px;" ></img>
            </div>
            <div>
              <h4>7K</h4>
              <p class="mb-0">Cours gratuits</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-sm col-md-3 mb-1">
    <div class="card shadow-5-strong hover-card">
      <div class="card-body">
        <div class="d-flex justify-content-between p-md-1">
          <div class="d-flex flex-row">
            <div class="align-self-center">
              <img  src="https://i.ibb.co/kB3twbB/png-clipart-diploma-academic-certificate-academic-degree-professional-certification-course-qualifica.png" alt="png-clipart-diploma-academic-certificate-academic-degree-professional-certification-course-qualifica"  style="width: 90px;height: 60px;" ></img>
            </div>
          <div>
              <h4>5K</h4>
              <p class="mb-0">Cours certifiés</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm col-md-3 mb-1">
    <div class="card shadow-5-strong hover-card">
      <div class="card-body">
        <div class="d-flex justify-content-between p-md-1">
          <div class="d-flex flex-row">
            <div class="align-self-center">
              <img  src="https://i.ibb.co/drJSPdc/student-work-on-laptop.png" alt="student-work-on-laptop" style="width: 60px;height: 50px;margin-right: 20px" ></img>
            </div>
            <div>
              <h4>20K +</h4>
              <p class="mb-0">Etudiants en ligne</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<br>



<!--end cards-->

<div class="container-fluid">
<section>
  <div style="margin-top: 100px;" >
    <h1 class="d-flex justify-content-center fade-hidden" style="color:#023434; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; "> <span style="color: #2CEDED; margin-right: 10px;">Nos </span>  Catégories </h1>
  </div>
<!-- cards for categories-->
<div class="mx-5 fade-hidden" style="margin-top: 50px;">
  <div class="row d-flex" >
    <div class="col-sm col-md-4" >
      <a  href="/cours/data_science">
      <div class="card shadow-5-strong  hover-card " >
        <div class="card-body border border-dark rounded"  style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img   src="https://i.ibb.co/HtjVxcJ/big-data.png" alt="big-data"   style="width: 70px;height: 60px;margin-right: 20px;" ></img>
               </div>
              <div>
                <h3 style="font-family:Arial, Helvetica, sans-serif;">Data Science</h3>
                <p class="mb-0" style="color: #727677;"> 40 Cours </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
 
  
    <div class="col-sm col-md-4">
      <a  href="/cours/dev">

      <div class="card shadow-5-strong hover-card">
        <div class="card-body border border-dark rounded" style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img  src="https://i.ibb.co/zPnqwX8/web-programming.png" alt="web-programming"  style="width: 70px;height: 60px;margin-right: 20px;" ></img>
                            </div>
              <div>
                <h3 style="font-family:Arial, Helvetica, sans-serif;">Développement</h3>
                <p class="mb-0" style="color: #727677;"> 50 Cours </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
 
  
    <div class="col-sm col-md-4">
      <a  href="/cours/marketing">

      <div class="card shadow-5-strong hover-card">
        <div class="card-body border border-dark rounded" style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img  src="https://i.ibb.co/VwLL6DN/digital-marketing.png" alt="digital-marketing"   style="width: 70px;height: 50px;margin-right: 20px; color: black;" ></img>
              </div>
            <div>
              <h3 style="font-family:Arial, Helvetica, sans-serif;">Marketing</h3>
              <p class="mb-0" style="color: #727677;"> 80 Cours </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
 
    <br><br><br> <br><br><br><br><br>
  
    <div class="col-sm col-md-4  " >
      <a  href="/cours/design">

      <div class="card shadow-5-strong  hover-card " >
        <div class="card-body border border-dark rounded"  style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img src="https://i.ibb.co/XkxZF6C/design.png" alt="design"   style="width: 70px;height: 60px;margin-right: 20px; color: black;" ></img>

               </div>
              <div>
                <h3 style="font-family:Arial, Helvetica, sans-serif;">Design  UI/UX</h3>
                <p class="mb-0" style="color: #727677;"> 10 Cours </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    </div>
  
    <div class="col-sm col-md-4">  
         <a  href="/cours/business">

      <div class="card shadow-5-strong hover-card">
        <div class="card-body border border-dark rounded" style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img src="https://i.ibb.co/QDLB7zj/profit.png" alt="profit"    style="width: 70px;height: 60px;margin-right: 20px; color: black;" ></img>

                            </div>
              <div>
                <h3 style="font-family:Arial, Helvetica, sans-serif;">Business</h3>
                <p class="mb-0" style="color: #727677;"> 50 Cours </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>

    </div>
  
    <div class="col-sm col-md-4">
      <a  href="/cours/cyber_securite">

      <div class="card shadow-5-strong hover-card">
        <div class="card-body border border-dark rounded" style="background-color: #DBF9E7">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <img  src="https://i.ibb.co/9WDKDGd/cyber-security.png" alt="cyber-security"   style="width: 70px;height: 50px;margin-right: 20px; color: black;" ></img>
              </div>
            <div>
              <h3 style="font-family:Arial, Helvetica, sans-serif;">CyberSécurité</h3>
              <p class="mb-0" style="color: #727677;"> 100 Cours </p>
            </div>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>


  </div>
  </div>
  
  <br>
  
  
  
  <!--end cards-->
  

</section>
</div>
<br>

<section style="height: 700px;">
    <div style="margin-top: 100px;" >
      <h1 class="d-flex justify-content-center fade-hidden" style="color:#023434; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; "> <span style="color: #2CEDED; margin-right: 10px;">Cours </span> Populaires </h1>
    </div>
    <a href="/cours/tous">
      <button class="btn fade-hidden" style="background-color: #2CEDED;color: #ffffff;transform: translateX(1300px);margin-top: 50px;">Voir tous</button>
    </a>
<!--courses' cards-->
 
<div id="carouselExampleControls" class="carousel carousel-dark slide fade-hidden" data-bs-ride="carousel" style="margin-top: 50px;margin-left: 80px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class=" active" style=" width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #2CEDED;
    border: none; 
    margin: 7px; 
    cursor: pointer;" ></button>
    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" style=" width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #2CEDED;
    border: none; 
    margin: 7px; 
    cursor: pointer;" ></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" style=" width: 15px;
    height: 10px;
    border-radius: 50%;
    background-color: #2CEDED;
    border: none; 
    margin: 7px; 
    cursor: pointer;" ></button>
  </div>
  <div class="carousel-inner ">

    <div class="carousel-item active">
<div class="row d-flex" style="height: 600px;" >
  <div class="row d-flex" style="height: 600px;" >
    <% if(courses.length) { %>
      <% for (let i = 0; i < 3; i++){ let course = courses[i] %>
    <div class="col-lg-4">
      <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="<%= course.image %>" alt="programming-background-collage" class="img-fluid" />
          <a href="/examplecourspage">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <p style="color: #727677;font-size: small;"><%= course.last_modified %></p>
          <h5 class="card-title font-weight-bold" style="font-size: larger;"><a><%= course.title %></a></h5>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"> </i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <p class="text-muted"><%= course.rating %></p>
            </li>
          </ul>
         <div class="d-flex inline-item">
          <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;"><%= course.duration %></p>   
        </div>
        <div class="d-flex inline-item">
          <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;"><%= course.views %> vues</p>   
        </div>
        <% if ( course.price > 0 ) { %>
        <div class="d-flex"> 
         <p style="color: red;font-weight: bold;font-size:large;">$ <%= course.price %></p>
          <button class="btn" id="openmodal" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Acheter</button>
        </div>
        <% } else { %>
          <span class="badge badge-success" style="margin-left: 200px;font-size: larger; margin-top: 10px;">GRATUIT</span>
        <% } %>
          
        </div>
      </div>
        </div>
        <% } %> <% } else{ %>
          <div>No courses in database</div>
          <% } %>
  
  </div>
      </div>
    </div>
  
  
  
  <div class="carousel-item">
  <div class="row d-flex" style="height: 600px;">
   <% if (courses.length > 3) { %>
    <% for (let i = 3;  i < 6; i++ ) { let course = courses[i] %>
   <div class="col-lg-4">
    <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
     <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
       <img src="<%= course.image %>" alt="programming-background-collage" class="img-fluid" />
       <a href="/examplecourspage">
         <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
       </a>
     </div>
     <div class="card-body">
       <p style="color: #727677;font-size: small;"><%= course.last_modified %></p>
       <h5 class="card-title font-weight-bold" style="font-size: larger;"><a><%= course.title %></a></h5>
       <ul class="list-unstyled list-inline mb-0">
         <li class="list-inline-item me-0">
           <i class="fas fa-star text-warning fa-xs"> </i>
         </li>
         <li class="list-inline-item me-0">
           <i class="fas fa-star text-warning fa-xs"></i>
         </li>
         <li class="list-inline-item me-0">
           <i class="fas fa-star text-warning fa-xs"></i>
         </li>
         <li class="list-inline-item me-0">
           <i class="fas fa-star text-warning fa-xs"></i>
         </li>
         <li class="list-inline-item">
           <i class="fas fa-star-half-alt text-warning fa-xs"></i>
         </li>
         <li class="list-inline-item">
           <p class="text-muted"><%= course.rating %></p>
         </li>
       </ul>
      <div class="d-flex inline-item">
       <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;"><%= course.duration %></p>   
     </div>
     <div class="d-flex inline-item">
       <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;"><%= course.views %> vues</p>   
     </div>
     <% if ( course.price > 0 ) { %>
      <div class="d-flex"> 
       <p style="color: red;font-weight: bold;font-size:large;">$ <%= course.price %></p>
        <button class="btn" id="openmodal" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Acheter</button>
      </div>
      <% } else { %>
        <span class="badge badge-success" style="margin-left: 200px;font-size: larger; margin-top: 10px;">GRATUIT</span>
      <% } %>
        
       
     </div>
   </div>
  </div>
  <% } %> <% } %>
  
  
  </div>
  </div>
  
  
  
  <div class="carousel-item">
    <div class="row d-flex" style="height: 600px;">
     <% if( courses.length > 6 ) { %>
      <% for (let i = 6; i < 9; i++ ) { let course = courses[i] %>
     <div class="col-lg-4">
      <div class="card shadow-5-strong hover-card" style="max-width: 23rem;">
       <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
         <img src="<%= course.image %>" alt="programming-background-collage" class="img-fluid" />
         <a href="/examplecourspage">
           <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
         </a>
       </div>
       <div class="card-body">
         <p style="color: #727677;font-size: small;"><%= course.last_modified %></p>
         <h5 class="card-title font-weight-bold" style="font-size: larger;"><a><%= course.title %></a></h5>
         <ul class="list-unstyled list-inline mb-0">
           <li class="list-inline-item me-0">
             <i class="fas fa-star text-warning fa-xs"> </i>
           </li>
           <li class="list-inline-item me-0">
             <i class="fas fa-star text-warning fa-xs"></i>
           </li>
           <li class="list-inline-item me-0">
             <i class="fas fa-star text-warning fa-xs"></i>
           </li>
           <li class="list-inline-item me-0">
             <i class="fas fa-star text-warning fa-xs"></i>
           </li>
           <li class="list-inline-item">
             <i class="fas fa-star-half-alt text-warning fa-xs"></i>
           </li>
           <li class="list-inline-item">
             <p class="text-muted">4.5</p>
           </li>
         </ul>
        <div class="d-flex inline-item">
         <i class="far fa-clock"></i><p style="font-size: small; margin-left: 10px;"><%= course.duration %></p>   
       </div>
       <div class="d-flex inline-item">
         <i class="far fa-user"></i><p style="font-size: small; margin-left: 10px;"><%= course.views %> vues</p>   
       </div>
       <% if ( course.price > 0 ) { %>
        <div class="d-flex"> 
         <p style="color: red;font-weight: bold;font-size:large;">$ <%= course.price %></p>
          <button class="btn" id="openmodal" style="background-color:#023434;margin-left: 160px;color:rgb(255, 255, 255);">Acheter</button>
        </div>
        <% } else { %>
          <span class="badge badge-success" style="margin-left: 200px;font-size: larger; margin-top: 10px;">GRATUIT</span>
        <% } %>
          
         
       </div>
     </div>
    </div>
    <% } %> <% } %>
    </div>
    </div>
  

  </div>
  
</div>
</section>

<section class="bg-image" style="width: 100%;height: 800px;margin-top: 100px; background-image: url('https://i.ibb.co/1XhdTGH/pretty-teenager-happy-be-back-university.jpg');background-repeat: no-repeat;">
  <div>  <h1 style="font-size:50px;font-family:fantasy; margin-top: 50px;color: #023434; margin-left: 30px;">Nos étudiants témoignent</h1>

  </div>
  <div class="container-lg bg-light justify-content-center" style="margin-top: 200px;width: 900px;height: 300px;border:3px #023434 solid; border-radius: 6px;">

      <div id="mycarousel" class="carousel carousel-dark slide fade-hidden" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class=" active" style=" width: 15px;
          height: 10px;
          border-radius: 50%;
          background-color: #2CEDED;
          border: none; 
          margin: 7px; 
          cursor: pointer;" ></button>
          <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" style=" width: 15px;
          height: 10px;
          border-radius: 50%;
          background-color: #2CEDED;
          border: none; 
          margin: 7px; 
          cursor: pointer;" ></button>
              <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="2" style=" width: 15px;
          height: 10px;
          border-radius: 50%;
          background-color: #2CEDED;
          border: none; 
          margin: 7px; 
          cursor: pointer;" ></button>
        </div> 

          <!-- Wrapper for carousel items -->

          <div class="carousel-inner">
            <div class="carousel-item active">
            
                  <div class="media d-flex " style="width: 600px;margin-top: 80px; margin-left: 70px;">
                    <img  src="https://i.ibb.co/Gs2tz4g/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased.jpg" alt="lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased" >
                    <div class="media-body">
                      <div class="testimonial " >
                        <p style="font-size: medium;">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                        <p class="overview"  ><b>Paula Wilson</b>, Media Analyst</p>
                        <hr style="color:#023434;size: solid;">
                        <br>
                      </div>
                    </div>
                  </div>	
            </div>
            <div class="carousel-item">
                <div class="media d-flex  " style="width: 600px;margin-top: 80px; margin-left: 70px;">
                  <img  src="https://i.ibb.co/Gs2tz4g/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased.jpg" alt="lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased" >
                  <div class="media-body">
                    <div class="testimonial " >
                      <p style="font-size: medium;">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                      <p class="overview"  ><b>Paula Wilson</b>, Media Analyst</p>
                      <hr style="color:#023434;size: solid;">
                      <br>
                    </div>
                  </div>
            </div>
            </div>

            <div class="carousel-item">
                <div class="media d-flex  " style="width: 600px;margin-top: 80px; margin-left: 70px;">
                  <img  src="https://i.ibb.co/Gs2tz4g/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased.jpg" alt="lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased" >
                  <div class="media-body">
                    <div class="testimonial " >
                      <p style="font-size: medium;">Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor, varius quam luctus dui. Mauris magna metus nec.</p>
                      <p class="overview"  ><b>Paula Wilson</b>, Media Analyst</p>
                      <hr style="color:#023434;size: solid;">
                      <br>
                    </div>
                  </div>
            </div>			
            </div>


          </div>
        
      </div>
  </div>
</section>

<!--MODAL FOR PAYMENT CARD-->
<%- include('./partials/modal') %>

<%- include('./partials/footer') %>
